footer, header {
	text-align: center;
	background-color: brown;
	color:white;
	}

body{
	background-image: url("../afbeeldingen/water.jpg");
}

div#inhoud {
	background-color: brown;
	margin: auto;
	width: 1000px;
	padding-left: 20px;
	padding-right: 5px;
	opacity: 0.9;
	}

div#land {
	width: 1000px;
	position: relative;
	}
	
article {
	float: left;
	width: 500px;
	height: 350px;
	position: relative;
	background-color: brown;
	color:white;
	}
	
figure {
	margin-left: 530px;
	width: 470px;
	height: 350px;
	position: relative;
	text-align: center;
	}
	
img.vlag {
	float: right;
	margin: 10px;
	border: 1px;
	border-style: solid;
	border-color: black; 
	}

	.foto {
		width: 450px; 
		height: 300px; 
		display: inline-block;
}
