*{
	font-family: Verdana, arial, sans-serif;
 }

 body, header, article, aside, footer{
	background-color: rgb(93, 251, 228);
 }

body {
	background-color: rgb(93, 251, 228);
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: rgb(252, 0, 0);
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/hoofding.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: rgb(0, 229, 255);
	}
	
h1 {
	font-size: 90px;
	font-family:'Times New Roman'; 
	}
aside {
	float: right;
	width: 20%;
	background-color: blue;
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

article {
	color: rgb(36, 125, 255);
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: blue;	/*lichtgrijs*/
	border-style: solid;
	}
	
footer {
	background-color: aqua;
	clear: both;
	text-align: center;
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
}